[submodule "Infrastructure/thirdparty-repos/libsodium"]
	path = Infrastructure/thirdparty-repos/libsodium
	url = git://github.com/jedisct1/libsodium.git
[submodule "Infrastructure/thirdparty-repos/toml11"]
	path = Infrastructure/thirdparty-repos/toml11
	url = https://github.com/ToruNiina/toml11.git
[submodule "Infrastructure/thirdparty-repos/zmqpp"]
	path = Infrastructure/thirdparty-repos/zmqpp
	url = https://github.com/zeromq/zmqpp.git
[submodule "Infrastructure/thirdparty-repos/libzmq"]
	path = Infrastructure/thirdparty-repos/libzmq
	url = https://github.com/zeromq/libzmq.git
[submodule "Infrastructure/thirdparty-repos/spdlog"]
	path = Infrastructure/thirdparty-repos/spdlog
	url = https://github.com/gabime/spdlog.git