{% extends "index.html" %}

{% block content%}
    
<div class='container'>
    <div class='jumbotron'>
        <h1 id='header'>Kitchen</h1>
    </div>

    <div class="container">
        {% if firstname is defined and lastname is defined %}
            <h1>Welcome to the kitchen {{ firstname }} {{ lastname }}</h1>
        {% else %}
            <h2>Welcome to the kitchen user</h2>
        {% endif %}
        <form action="index" method="POST">
            <label for="submit">This button take us back home using POST!</label>
            <input type="submit" value="Go to Kitchen" name="submit">
        </form>
    </div>
</div>

{% endblock %}
    